# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# Temporary files
tmp/
temp/
.cache/

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by testing tools
coverage/

# IDE and Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.iml

# Other files
package-lock.json
yarn.lock
